@using Bober.Models.DatabaseModels
@model IEnumerable<Dogovor>

@{
    ViewData["Title"] = "Договоры";
}

<h2 class="text-center text-info">Договоры</h2>
<table class="table table-hover w-100 pt-3">
    <thead>
        <tr class="table-dark text-info">
            <th>ID</th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DatesSortParm"]" class="link link-primary page-link">Дата заключения</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DatefSortParm"]" class="link link-primary page-link">Дата окончания</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" class="link link-primary page-link">Сумма</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["SotrudnikSortParm"]" class="link link-primary page-link">Сотрудник</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ClientSortParm"]" class="link link-primary page-link">Клиент</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["FlatSortParm"]" class="link link-primary page-link">Квартира</a></th>
            <th><a asp-controller="Dogovor" asp-action="Add" class="btn btn-info w-100 h-75">Добавить</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dogovor in Model)
        {
            <tr>
                <td class="text-info">@dogovor.Id</td>
                <td>@dogovor.DateStart.ToString("d")</td>
                <td>@dogovor.DateFinish.ToString("d")</td>
                <td>@dogovor.Price</td>
                <td>@dogovor.SotrID</td>
                <td>@dogovor.ClientID</td>
                <td>@dogovor.FlatID</td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="Dogovor" asp-action="Edit" asp-route-id="@dogovor.Id" class="btn btn-outline-warning mx-2">Изменить</a>
                        <a asp-controller="Dogovor" asp-action="Delete" asp-route-id="@dogovor.Id" class="btn btn-outline-danger mx-2">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>